* {
    font-family: 'Roboto', sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
}
#container div {
    min-width: 33%;
    min-height: 150px;
}
#container div:nth-child(2n+1){
    background-color: #2196f3;
}
#container div:nth-child(2n+2){
    background-color: #1769aa;
}

#container div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
h1{
    text-align: center;
}

@media screen and (min-width: 576px) {
    #container {
        flex-direction: row;
        justify-content: space-between;
    }
}