*{
    font-size: 0px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
section#news{
    width: 80%;
    border: 1px solid red;
    padding: 10px;
    margin: 10px auto;
}
#news > div{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px;
}
#news > div > div{
    width: 100%;
    font-size: 14px;
    border: 1px solid grey;
    max-height: 150px;
    min-height: 50px;
}

#cb{
    width: 150px;
    height: 150px;
    background-color: aqua;
    padding: 15px;
    border: 1px solid black;
    box-sizing: content-box;
}
#bb{
    width: 150px;
    height: 150px;
    background-color: deeppink;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}
