body {
    font-size: 0px;
}
div{
    width: 500px;
    height: 150px;
    border: 3px solid black;
    margin: 20px;
}
div img{
    width: 100%;
    height: 100%;
}
body div:nth-child(1) img{
    object-fit: contain;
}
body div:nth-child(2) img{
    object-fit: fill;
}
body div:nth-child(3) img{
    object-fit: cover;
    /* object-position: 100% 100%; */
}
body div:nth-child(4) img{
    object-fit: none;
}
body div:nth-child(5) img{
    object-fit: scale-down;
}